nav{
	background-color: ;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: whitesmoke;
}

.name{
	font-size: 1.7rem;
}

nav ul{
	display: flex;
}

nav ul li{
	color: white;
	margin: 0 25px;
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	color: black;
}

body{
	background-color: cornflowerblue;
	margin: 0;
	padding: 0;
}